.navegador{

    width: 20%;
    float: left;
    text-decoration: none;
}
.contenido{
    width: 75%;
    float: left;
}
footer{
    margin: 5px;
    clear: both;
}
footer p {
    margin: 0;
    padding: 5%;
}

.centrado{
    text-align: center;
}


