/*selector global*/
*{
    margin: 0%;
    padding: 0%;
    /*ajusta el tamaño de la pagina */
    box-sizing: border-box;
    /*background: image();*/
}
body{
    background-image: url("../img/fondo3.png");
}

/*selector directo*/
.logo{
    height: 200px;
    width: 100%;
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.logo2{
    height: 310px;
    width: 100%;
    background-image: url(../img/asus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*selector directo >*/
header>h1{
    color: rgb(218, 211, 224);
    text-transform: uppercase;
}

footer{
    background-image: url("../img/fondo2.jpg");
    text-align: center;
}


nav a{
    text-decoration: none;
    display: block;
    padding: 15px 5px;
}
nav a:hover{
    background-color: rgb(39, 37, 133);
}

nav{
    background-image: url("../img/fondo2.jpg");
    height: 100%;
    border: 2px dotted rgb(11, 185, 40);
    border-radius: 10px;
    margin-right: 10px;
}

.im{
    width: 90%;
    padding-left: 10%;
    
}
.im:hover {
    transform: scale(1.1); 
}

.opacar{
    text-align: center;
    width: 100%;
    padding-left: 10%;
    padding-left: 10px;
}

.opacar:hover{
    opacity: 0.5;
}


.videox{
    height: 300px;
    width: 100%;
    
    
}
.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 70%;
}
div{
    background-image: url("../img/blanco.png");
}
section{
    background-image: url("../img/blanco.png");
}
aside{
    background-image: url("../img/blanco.png");
}


h3{
    /*alinear texto*/
    text-align: center ;
    margin: 5px;
    /*transformar el texto a mayusculas*/
    text-transform: uppercase;
    /*Dar sombra al texto*/
    text-shadow: 2px 1px rgb(32, 27, 36);
}
h1{
      /*alinear texto*/
      text-align: center ;
      margin: 5px;
      /*transformar el texto a mayusculas*/
      text-transform: uppercase;
      /*Dar sombra al texto*/
      text-shadow: 3px 1px rgb(32, 27, 36);
}

#tamanioh1 h1{
    font-size: 10px;
}
#tamanioh2 h2{
    font-size: 10px;
}





article{
    margin: 1px;
    margin: 10px 0px;
    text-align: justify;
    border-bottom: 4px dotted rgb(0, 255, 42);
    padding-bottom: 5px;
}

p{
    margin: 5px;
    /*dar sangria*/
    text-indent: 5%;
    /*juntificar el texto*/
    text-align: justify;
    /*dar tamaño de espacio entre cada palabra*/
    letter-spacing: 3px;
    /*dar ua fuente al texto*/
    font-family: 'Acme';font-size: 22px;
}
p.pie{
    text-align: center;
}


iframe{
    margin: 10px;
}

#indice li{
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
   
}
#indice ul{
    text-align: center;

}


#contact form{
    width: 80%;
    margin-top: 20px;
    text-align: center;
   padding: 50 10 5;
}

#contact input{
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: transparent;
    border-bottom: 1px solid rgb(6, 10, 14);

}
#contact textarea{
    
    resize: none;
    width: 80%;
    height: 15em;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(6, 10, 14);
}

#contact button{
    width: 40%;
    margin: 10px;
    padding: 10px;
    background: rgb(16, 17, 17);
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 0.9em;
    text-align: center;
}








/*---------complementos individuales-------*/

article#bordebajo{
    border-bottom: 4px 
}
